#amable {
    font-family: cursive;
    color: red;
    font-family: fantasy;

  }
  
  #rudo {
    font-family: monospace;
    text-transform: uppercase;
    color: green;
    font-family:Georgia;
  }
  